* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #7d9ed2;
}

#test {
    background-color: blueviolet;
}

#budget-form {
    text-align: center;
}

#budget-display {
    text-align: center;
    margin-top: 10px;
}

#category-section {
    height: auto;
}

#category-cards-container {
    display: flex;
    justify-content: center;
}

.category-card {
    border: 1px solid;
    height: 300px;
    width: 200px;
    margin: 20px 10px;
    box-shadow: 0px 0px 5px 1px #828385;
}